.g2-tooltip {
  position: absolute;
  z-index: 8;
  transition: left 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s,
    top 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  background-color: transparent;
  color: rgb(89, 89, 89);
  padding: 0 12px;
  margin: 0;
  overflow-x: auto;
  width: 100%;
  left: 0;
  top: 0;
  pointer-events: auto;
}

.g2-tooltip-title {
  margin: 10px 0;
  font-weight: 700;
  height: 12px;
  line-height: 12px;
}

.g2-tooltip-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: auto;
  width: 100%;
}

.g2-tooltip-item {
  opacity: 1;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 92px;
  min-width: 92px;
  padding-left: 12px;
  justify-content: space-between;
}

.g2-tooltip-item.inactive {
  opacity: 0.25;
}

.g2-tooltip-item-marker {
  width: 3px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 48px;
  left: 0;
}

.g2-tooltip-item-label {
  font-size: 14px;
  line-height: 14px;
  margin: 2px 0 12px;
}

.g2-tooltip-item-value {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: rgba(0, 0, 0, 65%);
  margin: 0 0 4px;
}
